.container-filter{
    margin: auto;
    width: 80%;
}

.container-filter input,.container-filter select{
    outline: none;
}

select{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 1rem;
    padding: 0.1rem;
    width: 10rem;
    text-align: center;
    height: 2rem;
    cursor: pointer;
}

select option{
    color: #0F0E0E;
}

input{
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 1rem;
    padding: 0.3rem;
    width: 10rem;
    height: 2rem;
}

input::placeholder{
    color: #ffffffbb;
    text-align: center;
}

.filter{
    margin-bottom: 1rem;
}

.filter span{
    margin-right: 0.5rem;
}

.filter button{
    margin-left: 0.5rem;
}

button{
    background-color: #3e8e7e83;
    border: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

button svg{
    width: 60%;
    height: 60%;
}

button:hover{
    background-color: #FABB51;
}